.quote{
    height: 6rem;
    margin: 40px 0;
    border: 1px solid gray;
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}
.heading{
    font-size: 22px;
    font-family: monospace;
}
.by{
    font-style: italic;
    font-weight: bold;
    color: gray;
}


@media only screen and (max-width:850px) {
    .heading{
        font-size: 21px;
    }
}
@media only screen and (max-width:800px) {
    .heading{
        font-size: 20px;
    }
}
@media only screen and (max-width:760px) {
    .heading{
        font-size: 19px;
    }
}
@media only screen and (max-width:720px) {
    .heading{
        font-size: 18px;
    }
    .by{
        font-size: 15px
    }
}
@media only screen and (max-width:680px) {
    .heading{
        font-size: 17px;
    }
    .by{
        font-size: 14px
    }
}
@media only screen and (max-width:640px) {
    .heading{
        font-size: 16px;
    }
    .by{
        font-size: 13px
    }
}
@media only screen and (max-width:600px) {
    .heading{
        font-size: 15px;
    }
    .by{ 
        font-size: 12px
    }
}
@media only screen and (max-width:560px) {
    .heading{
        font-size: 14px;
    }
    .by{
        font-size: 11px
    }
}
@media only screen and (max-width:520px) {
    .heading{
        font-size: 13px;
    }
    .by{
        font-size:10px
    }
}
@media only screen and (max-width:480px) {
    .heading{
        font-size: 12px;
    }
    .by{
        font-size: 9px
    }
}
@media only screen and (max-width:420px) {
    .heading{
        font-size: 11px;
    }
    .by{
        font-size: 8px
    }
}
@media only screen and (max-width:380px) {
    .heading{
        font-size: 10px;
    }
    .by{
        font-size: 7px
    }
}
