.project{
    height: 200px;
    margin: 40px 0;
    /* padding: 10px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid gray;
}
.project-left{
    flex: 1;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.project-left > img{
    padding: 5px;
    /* padding: 0 auto; */
    width: 90%;
    height: 200px;
}
.project-right{
    flex: 2;
    padding: 5px;
}

.project-right > span{
    font-size: 20px;
    letter-spacing: 1px;
}
.btn {
    width: 40%;
    margin: 10px;
    height: 40px;
    background-color: black;
    color: white;
}

@media only screen and (max-width: 900px){
    .project-left{
        flex: 1;
    }
    .project-right{
        flex: 1;
    }
    .project-right > span{
        font-size: 18px;
    }
    .project-right > p{
        font-size: 13px;
    }
    .btn{
        font-size: 15px
    };
}
@media only screen and (max-width: 800px){
    .project-right > p{
        font-size: 13px;
    }
}
@media only screen and (max-width: 750px){
    .project-right > p{
        font-size: 12px;
    }
}
@media only screen and (max-width: 700px){
    .project-right{
        padding-top: 10px;
    }
    .project-right > p{
        font-size: 11px;
    }
    .btn{
        font-size: 13px
    };
}

@media only screen and (max-width: 600px){
    .project-right{
        padding-top: 10px;
    }
    .project-right > p{
        font-size: 10px;
    }
    .btn{
        font-size: 12px
    };
}

@media only screen and (max-width: 500px){
    .project-right{
        padding-top: 10px;
    }
    .project-right > p{
        font-size: 10px;
    }
    .btn{
        font-size: 11px
    };
}

@media only screen and (max-width: 400px){
    .project-right{
        padding-top: 10px;
    }
    .project-right > p{
        font-size: 9px;
    }
    .btn{
        font-size: 10px
    };
}
@media only screen and (max-width: 350px){
    .project-right{
        padding-top: 10px;
    }
    .project-right > p{
        font-size: 8px;
    }
}